<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwExceptions="true" internalLogLevel="Debug"
	  internalLogFile="C:\Users\Ken\source\repos\NLog.Slack\NLog.Slack.Demo\bin\Debug\net6.0\NLog.Slack.Demo.log">

	<extensions>
		<add assembly="NLog.Slack" />
	</extensions>

	<targets async="true">
		<target name="viewer" xsi:type="NLogViewer" includeSourceInfo="true" address="udp://127.0.0.1:9995" />
		<target xsi:type="Slack"
			  name="slackTarget"
			  layout="${message}"
			  webHookUrl="https://hooks.slack.com/services/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"
			  compact="false" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="viewer" />
		<logger name="*" minlevel="Debug" writeTo="slackTarget" />
	</rules>
</nlog>